.triangulo{
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-bottom: 100px solid palevioletred;
   } 
.circulo{
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    border-radius: 100%;
}
.cuadrado{
    width: 100px;
    height: 100px;
    background-color: green;
}